* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #E8B952;
}

.cards {
  margin-top: 2em;
}

.card {
  border: 0.125em solid lightgrey;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.card img {
  width: 100%;
}

.card .description {
    padding: 0 1em;
    min-height: 4em;
}
